.board{
    position: absolute;
    background-color: rgba(25, 42, 50, 1);
    height: 32vmin;
    width: 50vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vmin;
}

.victor{
    color: rgba(172, 194, 205, 1);
}

.victorSpan{
    display: flex;
    flex-direction: row;
    gap: 2vmin;
}

.victorImage{
    float: left;
}

.winner{
    color:rgba(247, 179, 54, 1);
    font-size: 20px;
}

.blackScreen{
    background-color: rgba(0, 0, 0, 0.73);
    position: absolute;
    height: 90vmin;
    width: 50vmin;
    border-radius: inherit;
}

