
.gameContainer{
    height: 45vmin;
    width: 40vmin;
    background-color: rgba(25, 42, 50, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.arrange{
    width: 40vmin;
    display: flex;
    justify-content: flex-start;
    gap: 4vmin;
    padding-left: 2vmin;
}

.scoreContainer{
    width: 40vmin;
    display: flex;
    justify-content: space-between;
}