* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameDisplay {
    height: 90vmin;
    width: 50vmin;
    background-color: rgba(25, 42, 50, 1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.play0{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10vmin;
    background-image: url('/public/svgs/O.svg');

}

.arrange{
    width: 40vmin;
    display: flex;
    justify-content: flex-start;
    gap: 4vmin;
    padding-left: 2vmin;
}

.scoreContainer{
    width: 40vmin;
    display: flex;
    justify-content: space-between;
    
}

.trybutton{
    height: 50px;
    width: 50px;
}